numpy
pandas
scikit-learn
python-dotenv
neo4j
networkx
matplotlib
lightrag-hku
sentence-transformers
pytest
ollama
faiss-cpu
asyncio
click
rich
raganything
faiss-cpu
open_clip_torch
hnswlib
paddlepaddle
pyyaml
httpx
gradio
mimetype
google-generativeai